html, body, .resetpass{

    height: 100%;
    width: 100%;
    margin:  0;
    padding: 0;

}

.resetpass{

    background-color: rgb(153, 240, 153);

}

.click-reset{

    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 30px;
    font-size: 30px;
    margin-top: 0px;
    
}

.label-c{

    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 4px;

}

.title-reset{

    margin-top: 1px;
    margin-bottom: 0px;
    height: 40px;

}

.resbox{

    width: 398px;
    height: 30px;
    margin-bottom: 0px;

}

.res{

    font-size: 18px;
    height: 40px;
    margin-top: 0px;
    width: 410px;
}

.action-reg{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;

}
